@import "normalize";
@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";

body {
  >header {
    a.today {
      @include position(absolute,  0px 0px 0 0);
      padding: 1em;
      color: #fff;
      background: #333;

      &:link, &:visited {
        color: #fff;
      }
    }
  }

  > section {
    @include outer-container;
  }
}

// Todays games
section.todays-games {
  max-width: em(800);
  margin: 2em auto;

  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: .5em;
    }
  }
}

// Games style
header.game {
  padding: 1em;
  background-color: #4981ce;
  color: #fff;

  a {
    color: rgba(#fff, .8);
  }

  h1 {
    @include inline-block;
    font-weight: bold;
    font-size: $base-font-size;
    margin-right: 1em;
  }

  h2 {
    @include inline-block;
    font-weight: 200;
    font-size: $base-font-size;
  }
}

section.team {
  @include row;
  border-bottom: 2px solid #f3f3f3;
  width: 100%;
  table-layout: fixed;

  h2 {
    display: none;
  }

  h3 {
    font-size: $base-font-size;
  }

  section.pitchers {
    @include span-columns(2, table);
    padding: 1em;
    background-color: #32363f;
    color: #fff;
    vertical-align: top;

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }
  }

  section.pitches {
    padding: 1em;
    @include span-columns(10, table);

    ol {
      @include row;
      padding: 0;
      list-style: none;
      margin: 0;

      li {
        @include span-columns(2 10);
        border: 1px solid #f3f3f3;
        padding: 1em;
        @include omega(5n);
        margin-bottom: 1em;

        &:nth-child(5n + 1) {
          clear: both;
        }

        h4 {
          margin: 0;
          font-size: em(18);
        }
      }
    }
  }
}
