{% load gameday_tags %}
<li>
    <hgroup>
      <h2>{{ p }}</h2>
      <h3>SP</h3>
    </hgroup>
    
    {% if forloop.first %}
    <ul class="pitching-stats">
      <li>
        <h4>RECORD</h4>
        <p>{{ p.wins }} - {{ p.losses }}</p>
      </li>
      <li>
        <h4>ERA</h4>
        <p>{{ p.era }}</p>
      </li>
      <li>
        <h4>AVG</h4>
        <p><span class="avg-speed">{{ p.average_speed|floatformat:"1" }} mph</span></p>
      </li>
    </ul>
    
     <ul>
      {% for c in p.counts %}<li>{{ c.pitch_type|pretty_pitch }}: {{ c.total }}</li>{% endfor %}
    </ul>
    {% endif %}
</li>