{% for ab in list %}
{% if forloop.first %}
<li class="batter">
  <header>
    <img src="{{ ab.hitter.image_url }}" />
    <hgroup>
      <h2>{{ ab.hitter }}</h2>
      <h3>v. {{ ab.pitcher }}</h3>
    </hgroup>
  </header>
{% endif %}
  <ol class="ab inning-{{ ab.inning }} trip-{{ ab.times_through_order }}">
  {% for p in ab.pitches.all %}
  <li class="pitch result-{{ p.event_type|lower }}" title="{{ p.description }}">
    {% if p.pitch_type %}<h4>{{ p.pitch_type }}</h4>{% endif %}
    {% if p.speed %}<span>{{ p.speed|floatformat:"0" }}</span>{% endif %}
</li>
  {% endfor %}
  </ol>
{% if forloop.last %}</li>{% endif %}
{% endfor %}