{% extends "layout.html" %}
{% load gameday_tags %}

{% block body %}

<header class="game">
  <h1><a href="#" class="home">{{ game.home }}</a> v. <a href="#" class="away">{{ game.away }}</a></h1>
  <h2>{{ game.location }}, {{ game.start_time }} ET</h2>
  <a href="/" class="today">Today</a>
  <form>
    <select id="id_lineup_trip" name="lineup_trip">
        <option value="">Trip through lineup</option>
        {% for t in lineup_trips %}<option value="{{ t }}">{{ t }}</option>{% endfor %}
    </select>
    <select id="id_inning" name="inning">
        <option value="">Inning</option>
        {% for i in innings %}<option value="{{ i }}">{{ i }}</option>{% endfor %}
    </select>
  </form>
</header>


<section class="team home" id="home-at-bats">
  <section class="pitchers">
    <ul>
      {% for p in away_pitchers %}{% include "fragments/pitchers.html" %}{% endfor %}
    </ul>
  </section>

  <section class="pitches frame">
    <ol class="slidee">
      {% for list in game.home_atbats %}{% include "fragments/pitch_list.html" %}{% endfor %}
    </ol>
  </section>
</section>

<section class="team away" id="away-at-bats">
  <section class="pitchers">
    <ul>
      {% for p in home_pitchers %}{% include "fragments/pitchers.html" %}{% endfor %}
    </ul>
  </section>

  <section class="pitches frame">
    <ol class="slidee">
      {% for list in game.away_atbats %}{% include "fragments/pitch_list.html" %}{% endfor %}
    </ol>
  </section>
{% endblock %}

{% block extra_js %}<script type="text/javascript">
var all_pitches, all_abs, all_batters;

$(document).ready(function () {
    $("#id_inning").change(show_inning);
    $("#id_lineup_trip").change(show_lineup_trip);
    all_pitches = $("li.pitch");
    all_abs = $("ol.ab");
    all_batters = $("li.batter")
});

// TODO: these should show the pitcher at the time and avg speed during
// the filtered period. Would be nice to update pitch counts as well
function show_inning(e)
{
    var inning = $(this).val();
    if (!inning)
    {
        return;
    }
    $("#id_lineup_trip").val("");
    all_batters.fadeOut();
    all_abs.hide();
    all_abs.filter(".inning-" + inning).show();
    all_batters.has("ol.inning-" + inning).fadeIn();
}

function show_lineup_trip(e)
{
    var trip = $(this).val();
    if (!trip)
    {
        return;
    }
    $("#id_inning").val("");
    all_batters.fadeOut();
    all_abs.hide();
    all_abs.filter(".trip-" + trip).show();
    all_batters.has("ol.trip-" + trip).fadeIn();
}
</script>{% endblock %}
