{% extends "layout.html" %}

{% block body %}
  <section class="todays-games">
    <h1>Today&rsquo;s Games</h1>
    <ul>
      {% for g in games %}
        <li>
        {% if g.playing %}
            <a href="/game/{{ g.mlburl }}">{{ g.away }} v {{ g.home }}</a>
            ({{ g.score }}){% if g.over %} F{% endif %}
        {% else %}
            {{ g.away }} v {{ g.home }}
        {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
