<!DOCTYPE html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Pitch Tracker</title>
    <meta name="description" content="">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width">
    <meta name="google" value="notranslate" />
    <link href="{{ STATIC_URL }}style.css" rel="stylesheet" media="screen" type="text/css" />
  </head>
  <body>
    <section>
      {% block body %}{% endblock %}
    </section>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}sly.min.js"></script>
    {% block extra_js %}{% endblock %}
    <script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-39855669-1', 'localnine.com'); ga('send', 'pageview');
    </script>
  </body>
</html>
