/* normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.375em; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em;
  line-height: 1.22222em;
  margin: .5em 0; }

h2 {
  font-size: 2em;
  line-height: 1.375em;
  margin: .25em 0; }

h3 {
  font-size: 1.75em;
  line-height: 1.17857em;
  margin: 0.39286em 0 0; }

h4 {
  font-size: 1.5em;
  line-height: 1.375em;
  margin: .5em 0 0; }

h5, h6 {
  font-size: 1.25em;
  line-height: 1.375em;
  margin: 0; }

p {
  font-size: 1em;
  font-weight: normal;
  margin: 0 0 0.6875em; }

a:link, a:visited {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  -ms-transition: all 0.15s ease-out 0;
  -o-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0; }
  a:link:hover, a:link:active, a:link:focus, a:visited:hover, a:visited:active, a:visited:focus {
    color: #2c5999; }
  a:link:visited, a:visited:visited {
    color: #1b365d; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.375em 0; }

img {
  margin: 0; }

abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.6875em; }

hgroup {
  margin-bottom: 0.6875em; }

del {
  color: #595959;
  text-decoration: line-through; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  font-style: italic;
  margin: 1.375em 0;
  padding-left: 0.6875em; }

cite {
  color: #737373;
  font-size: smaller;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

pre, code {
  line-height: 1.375em;
  margin: 0.6875em 0; }

fieldset {
  background: #f1f1f1;
  border: 1px solid white;
  margin: 0 0 1.375em 0;
  padding: 1.375em 1.375em 1.03125em 1.375em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.34375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 3px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.6875em;
  padding: 0.6875em 0.6875em;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  -ms-transition: border-color;
  -o-transition: border-color;
  transition: border-color;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="color"] {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  height: 4.125em;
  padding: 0;
  position: relative;
  width: 6.875em; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.6875em; }

select {
  width: 100%;
  margin-bottom: 2.0625em; }

button,
input[type="submit"] {
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 white;
  color: #333333;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #dedede));
  background-image: -webkit-linear-gradient(top, #fafafa, #dedede);
  background-image: -moz-linear-gradient(top, #fafafa, #dedede);
  background-image: -ms-linear-gradient(top, #fafafa, #dedede);
  background-image: -o-linear-gradient(top, #fafafa, #dedede);
  background-image: linear-gradient(top, #fafafa, #dedede);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  -webkit-background-clip: padding-box; }
  button:hover:not(:disabled),
  input[type="submit"]:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 white;
    cursor: pointer;
    background-color: #ededed;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #d6d6d6));
    background-image: -webkit-linear-gradient(top, #ededed, #d6d6d6);
    background-image: -moz-linear-gradient(top, #ededed, #d6d6d6);
    background-image: -ms-linear-gradient(top, #ededed, #d6d6d6);
    background-image: -o-linear-gradient(top, #ededed, #d6d6d6);
    background-image: linear-gradient(top, #ededed, #d6d6d6); }
  button:active:not(:disabled),
  input[type="submit"]:active:not(:disabled) {
    border: 1px solid #d6d6d6;
    box-shadow: inset 0 0 8px 4px #cfcfcf, inset 0 0 8px 4px #cfcfcf, 0 1px 1px 0 #eeeeee; }
  button:disabled,
  input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

table {
  margin: 0.6875em 0;
  width: 100%; }

thead {
  border-bottom: 1px solid #b7b7b7; }

th {
  font-weight: bold;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd; }

caption, th, td {
  padding: 0.6875em; }

caption {
  background: #f1f1f1;
  margin-bottom: 0.6875em;
  padding: 0.6875em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  list-style-position: outside;
  margin-bottom: 0.6875em;
  padding-left: 1.375em; }
  ul li, ol li {
    line-height: 1.375em; }
    ul li ul, ul li ol, ol li ul, ol li ol {
      padding-left: 0.6875em;
      margin-bottom: 0; }

dl {
  line-height: 1.375em;
  margin-bottom: 0.6875em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.34375em; }
  dl dd {
    margin-bottom: 0;
    margin-left: 0.6875em; }

/* Success, error & notice boxes for messages and errors. */
div.error, div.notice, div.success, #flash_failure, #flash_success, #flash_notice {
  margin-bottom: .75em;
  margin-bottom: .75rem;
  padding: .75em;
  padding: .75rem; }

div.error, #flash_failure {
  background: #fbe3e4;
  color: #96151b; }

div.error a, #flash_failure a {
  color: #96151b; }

div.notice, #flash_notice {
  background: #fff6bf;
  color: #8c7800; }

div.notice a, #flash_notice a {
  color: #8c7800; }

div.success, #flash_success {
  background: #e6efc2;
  color: #788d25; }

div.success a, #flash_success a {
  color: #788d25; }

body > section {
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3.375em;
  position: relative; }
  body > section:before, body > section:after {
    content: " ";
    display: table; }
  body > section:after {
    clear: both; }

section.todays-games {
  max-width: 50em;
  margin: 2em auto; }
  section.todays-games ul {
    list-style: none;
    padding-left: 0; }
    section.todays-games ul li {
      margin-bottom: .5em; }

header.game {
  position: relative;
  padding: 1em;
  background-color: #4981ce;
  color: #fff;
  z-index: 9999;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px; }
  header form {height: 0; margin: 0;}
  header.game a {
    color: rgba(255, 255, 255, 0.8); }
    header.game a.today {
      float: right; }
  header.game h1 {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    font-weight: bold;
    font-size: 1em;
    margin: 0 1em 0 0; }
  header.game h2 {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    font-weight: 200;
    font-size: 1em;
    margin: 0; }
  header select {
    position: absolute;
    top: 1em;
    right: 5em;
    width: auto;
  }
  header select#id_lineup_trip {right: 11em;}

section.team {
  position: relative; }
  section.team h2 {
    font-size: 1em; }
  section.team h3 {
    font-size: 1em; }
  section.team section.pitchers {
    padding: 1em;
    width: 18.75em;
    background-color: #32363f;
    color: #fff;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px; }
    section.team section.pitchers ul {
      list-style: none;
      padding-left: 0;
      margin: 0; }
      section.team section.pitchers ul li {
        margin-bottom: .5em; }
        section.team section.pitchers ul li hgroup {
          margin-bottom: 0; }
          section.team section.pitchers ul li hgroup h2 {
            display: inline-block;
            vertical-align: baseline;
            zoom: 1;
            *display: inline;
            *vertical-align: auto;
            margin: 0; }
          section.team section.pitchers ul li hgroup h3 {
            display: inline-block;
            vertical-align: baseline;
            zoom: 1;
            *display: inline;
            *vertical-align: auto;
            font-weight: 200; }
        section.team section.pitchers ul li ul {
          margin: 0; }
          section.team section.pitchers ul li ul li {
            display: inline-block;
            vertical-align: baseline;
            zoom: 1;
            *display: inline;
            *vertical-align: auto;
            margin-right: 1em;
            color: rgba(255, 255, 255, 0.7); }
            section.team section.pitchers ul li ul li h4 {
              font-size: 0.8125em;
              font-weight: 200; }
            section.team section.pitchers ul li ul li p {
              font-weight: bold; }
  section.team section.pitches {
    display: table-cell;
    padding-right: 2.12766%;
    width: 85.10638%;
    padding-left: 18.75em;
    }
    section.team section.pitches:last-child {
      width: 82.97872%;
      padding-right: 0; }
    section.team section.pitches:last-child {
      padding-right: 1em; }
    section.team section.pitches > ol {
      *zoom: 1;
      display: table;
      padding: 0;
      list-style: none;
      margin: 0; }
      section.team section.pitches > ol:before, section.team section.pitches > ol:after {
        content: " ";
        display: table; }
      section.team section.pitches > ol:after {
        clear: both; }
      section.team section.pitches > ol > li {
        padding: 1em;
        display: table-cell;
        vertical-align: top;
        min-width: 18.75em;
        border-right: 1px solid #f3f3f3;
        border-bottom: 1px solid #f3f3f3;
        margin-bottom: 1em; }
        section.team section.pitches > ol > li header {
          *zoom: 1;
          display: block; }
          section.team section.pitches > ol > li header:before, section.team section.pitches > ol > li header:after {
            content: " ";
            display: table; }
          section.team section.pitches > ol > li header:after {
            clear: both; }
          section.team section.pitches > ol > li header img {
            max-width: 3em;
            float: left;
            border-radius: 3px;
            border: 1px solid #333; }
          section.team section.pitches > ol > li header hgroup {
            float: left;
            margin-left: 1em;
            padding-bottom: 1em;
            margin-bottom: 1em;
            border-bottom: 1px solid #f3f3f3; }
            section.team section.pitches > ol > li header hgroup h2 {
              margin: 0; }
            section.team section.pitches > ol > li header hgroup h3 {
              font-weight: 200;
              margin: 0; }
        section.team section.pitches > ol > li ol {
          list-style: none;
          margin: 0;
          padding: 0;
          display: block;
          clear: both;
          border-bottom: 2px dashed #ccc;
          }
          section.team section.pitches > ol > li ol li {
            float: left;
            text-align: center;
            min-height: auto;
            min-width: auto;
            padding: 0.25em; }
            section.team section.pitches > ol > li ol li:nth-child(4n + 1) {
              clear: both; }
            section.team section.pitches > ol > li ol li.result-s {
              background-color: #ffeae5; }
            section.team section.pitches > ol > li ol li.result-b {
              background-color: #ccffd7; }
            section.team section.pitches > ol > li ol li.result-x {
              background-color: #d3e0fe; }
            section.team section.pitches > ol > li ol li h4 {
              font-weight: 800;
              margin: 0; }
            section.team section.pitches > ol > li ol li span {
              color: #444; }
            section.team section.pitches > ol > li ol li p {
              font-size: 0.8125em;
              line-height: 1.2em;
              color: #999; }
